{% extends 'base.html' %}

{% block content %}
<h1 class="text-center" >I work master. I really work. </h1>

{% for project in projects %}
<a href="single_project/{{project.project_name}}/">Single view</a>
<img src="{{ project.image.url}}" style="max-height:50%; max-width:50%;">
{{project.project_name}}
<a href="https://{{project.link}}"> Project link </a> 
{{project.details}}
{{ project.technologies }}
{{project.categories }}
<h6>Posted by {{project.user.username}}</h6>


{% endfor %}

{% endblock %}