{% extends 'base.html' %}

{% block content %}
<div class="container" >
    <div class="row">
{% for project in projects %}
        <div class="col-md-4">
        <div  class="text-center" style="padding: 10px;" >

<img src="{{ project.image.url}}" class="img-responsive" style=" max-width:80%; max-height: 80%;">
<p class="text-center"> Project Name: {{project.project_name}}</p>
<!-- <a href="https://{{project.link}}"> Project link </a>  -->
<a href="single_project/{{project.project_name}}/">View Project</a>

        </div>
        </div>
        {% endfor %}

</div>
</div>
{% endblock %}