{% extends 'base.html' %}

{% block content %}

{% for project in projects %}
<div class="container" >
    <div class="row col-md-4">

<img src="{{ project.image.url}}" style="max-height:50%; max-width:50%;">
<p> Project Name: {{project.project_name}}</p>
<a href="https://{{project.link}}"> Project link </a> 
<a href="single_project/{{project.project_name}}/">Single view</a>

<p>{{project.details}}</p>
<br><p>
  Technologies:  {{ project.technologies }} </p>
<br>
{{project.categories }}

<h6>Posted by {{project.user.username}}</h6>

</div>
{% endfor %}
</div>
{% endblock %}